@import "../../mixins" , "../../variables";

//--------------------Header----------------------------->
.titleHeader{
    font-weight: bold;
    font-size: 1.875rem;
    height: 4.375rem;
    line-height: 2.5rem;
    color: $Cinza;
    padding: 0.75rem 0 0 0.75rem;
}

.titleContacts{
    font-weight: bold;
    font-size: 0.875rem;
}
//--------------------Header----------------------------->

//--------------------Main----------------------------->
.titleMain{
    font-size: 3.2rem;
    font-weight: 300;
    width: 100%;
    margin-bottom: $mb5;
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
        width: 74%;
        line-height: 4.2rem;
        font-size: 4.2rem;
        margin-top: 16.5%;
        
    }
}
//--------------------Main----------------------------->

//--------------------WeAreAwesome----------------------------->
.titleWeAreAwesome{
   font-size: 2.5rem;
   text-transform: uppercase;
   font-weight: bold;
   text-align: center;
   margin: 10% auto 10%;
   line-height: 3rem;
   //--------------------Desktop----------------------------->
   @include for-desktop-only{
        margin: 6% auto 6%; 
    }
}

.titleWeAreAwesomeContent{
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: $mb10;
                    
}
//--------------------WeAreAwesome----------------------------->

//--------------------Footer----------------------------->

.titleContactAwesome{
   font-size: 2.5rem;
   text-transform: uppercase;
   font-weight: bold;
   text-align: center;
   margin: 10% auto 10%;
   line-height: 3rem;
   //--------------------Desktop----------------------------->
   @include for-desktop-only{
        margin: $mb0 auto $mb2;
    }
}

.titleContactAwesomeInput{
    font-size: 1rem;
    text-transform: uppercase;
}

.titleAdress{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.titleSocialMedia{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5%;
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
        margin-bottom: $mb0;
    }
}

//--------------------Footer----------------------------->