@import "../../Sass/styles.scss";

//--------------------contactAwesome----------------------------->
.contactAwesome{
    @extend .contactAwesome;

    &__title{
        @extend .titleContactAwesome;
        
        &___span{
            @extend .span;
            font-size: 2.5rem;
        }
    }

    &__containerDesktop{
        @extend .containerDesktop;
        
    }

    &__containerDesktopInput{
        @extend .containerDesktopInput;
    }

    &__containerDesktopAdress{
        @extend .containerDesktopAdress;
    }

    &__inputTitle{
        @extend .titleContactAwesomeInput;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }

    &__input{
        @extend .inputContactAwesome;
    }

    &__button{
        @extend .buttonSend;
    }

    &__titleAdress{
        @extend .titleAdress;
    }

    &__subtitleAdress{
        @extend .subtitleWeAreAwesome;
        margin-bottom: 5%;
    }

    &__containerIcon{
        @extend .containerIcon;                    
        
        &___container{
            @extend .containerIconBox;
            
            &____box{
                @extend .box;

            }
            
            &____subtitle{
                @extend .subtitleContactAwesome; 
                
            }
        }
        
        &___subtitleNumber{
            @extend .subtitleContactAwesome;
            margin-left: 0;
            margin-bottom: 5%;
        }
    }

    &__breakline{
        width: 100%;
        background-color: $Cinza;
        height: .01rem;
        margin-bottom: 10%;
    }

    &__socialMediaContainer{
        @extend .socialMediaContainer;
        
        &___socialMediaTitle{
            @extend .titleSocialMedia;
        }

        &___container {
            @extend .socialMediaLinks;
            width: 29%;
            height: 2.5rem;
            border: 1px solid $Branco;
        }

        &___containerBox{
            @extend .containerBox;
        }
    } 
    
}

.copyrightContainer{
    @extend .copyrightContainer;

    &__subtitle{
        @extend .subtitleCopyRight;
    }
}

//--------------------contactAwesome----------------------------->