@import "../../mixins" , "../../variables";

// Header Container Start
.containerPhone{
    @include display-flexDirection(flex, row);
    @include alignItems-justifyContent(center, space-between);
    width: 48%;
    margin-bottom: 5%;
}

.containerEmail{
    @include display-flexDirection(flex, row);
    @include alignItems-justifyContent(center, space-between);
    width: 74%;
    margin-bottom: 5%;
}

.containerSocialMedia{
    @include display-flexDirection(flex, row);
    @include alignItems-justifyContent(center, space-between);
    width: 60%;
}

.containerMenu{
    margin-right: 5%;
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(center, center);
    cursor: pointer;
    border: 1px solid #DDDDDD;
    width: 13%;
    height: 2.5rem;
    border-radius: 10%;
    @include for-tablet-only{
        display: none;
    }
    @include for-desktop-only {
        display: flex;
        width: 100%;
        height: 80px;
        border: none;
        margin: 0;
    }
}

.menuHamburguerListOpen{
    visibility: visible;
    background-color: $Branco;
    width: 100%;
    padding: 5%;
    height: 250px;
    position: absolute;
    right: 0;
    left: 0;
    top: 70px;
    transition: all .35s ease-out; 
    overflow-y: auto;  
    @include for-desktop-only{
        @include display-flexDirection(flex, row);
        @include alignItems-justifyContent(center, flex-end);
        visibility: visible;
        padding: 0;
        top: 0;
        overflow-y: unset;
        position: static;
        height: 80px;
        width: 100%;

        & > ul {
            @include display-flexDirection(flex, row);
            @include alignItems-justifyContent(center, center);
            width: 70%;
            
        }
    }
}

.menuHamburguerListClose{
    visibility: hidden;
    background-color: $Branco;
    width: 100%;
    padding: 5%;
    height: 1px;
    position: absolute;
    right: 0;
    left: 0;
    top: 70px;
    transition: all .35s ease-out;
    overflow-y: auto;

}


// Header Container End

// WeAreAwesome Containers Start
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

// WeAreAwesome Containers End

.containerIcon{
    width: 18%;
    height: 3.5rem;
    border: 1px solid $Branco;
    @include display-flexDirection(flex, row);
    @include alignItems-justifyContent(center, center);
}

.containerContent{
    width: 76%;
    margin-top: 5%;
}

// WeAreAwesome Containers End

// AwesomeTeam Containers Start

.awesomeTeamContainer{
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(start, center);
}

// AwesomeTeam Containers End




