@import "../../mixins" , "../../variables";


//--------------------Header----------------------------->
.header{
    @include display-flexDirection(flex, column);
    
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
        @include display-flexDirection(flex, column-reverse);
    }

    .menu{
        background-color: $Branco;
        @include display-flexDirection(flex, row);
        @include alignItems-justifyContent(center, space-between);
        position: fixed;
        width: 100%;
        
        //--------------------Desktop----------------------------->
        @include for-desktop-only {
            @include display-flexDirection(flex, row);
            @include alignItems-justifyContent(center, space-between);
            padding: 0 2.5%;
            
        }
    }

    .containerMenu{
        margin-right: 5%;
        @include display-flexDirection(flex, column);
        @include alignItems-justifyContent(center, center);
        cursor: pointer;
        border: 1px solid #DDDDDD;
        width: 13%;
        height: 2.5rem;
        border-radius: 10%;
        

        //--------------------Tablet----------------------------->
        @include for-tablet-only{
            display: none;
        }
        //--------------------Desktop----------------------------->
        @include for-desktop-only {
            display: flex;
            width: 100%;
            height: 80px;
            border: none;
            margin: 0;
            
        }
    }

    .containerMenuHamburguer{
        height: 1.25rem;
        width: 30px;        
        position: relative;
        //--------------------Desktop----------------------------->
        @include for-desktop-only {
            display: none; 
        }
    }

    .menuHamburguerListOpen{
        visibility: visible;
        background-color: $Branco;
        width: 100%;
        padding: 5%;
        height: 250px;
        position: absolute;
        right: 0;
        left: 0;
        top: 70px;
        transition: all .35s ease-out; 
        overflow-y: auto;
        
        @include for-desktop-only{
            @include display-flexDirection(flex, row);
            @include alignItems-justifyContent(center, flex-end);
            visibility: visible;
            padding: 0;
            top: 0;
            overflow-y: unset;
            position: static;
            height: 80px;
            width: 100%;
            
            
    
            & > ul {
                @include display-flexDirection(flex, row);
                @include alignItems-justifyContent(center, center);
                width: 60%;
                
            }
        }
    }

    .menuHamburguerListClose{
        visibility: hidden;
        background-color: $Branco;
        width: 100%;
        padding: 5%;
        height: 1px;
        position: absolute;
        right: 0;
        left: 0;
        top: 70px;
        transition: all .35s ease-out;
        overflow-y: auto;
        
    
    }

    .containerContacts{
        @include display-flexDirection(flex, column);
            padding: $padding-lateral;
            //--------------------Desktop----------------------------->
            @include for-desktop-only {
            @include display-flexDirection(flex, row);
            @include alignItems-justifyContent(center, space-between);
            padding: 1.85% 13% 2.5% 5%;
            }
    }

    .containerPhone{
        @include display-flexDirection(flex, row);
        @include alignItems-justifyContent(center, space-between);
        width: 48%;
        margin-bottom: $mb5;
        //--------------------Desktop----------------------------->
        @include for-desktop-only{
            margin-bottom: $mb2;
            width: 19%;
        }
    }

    .containerEmail{
        @include display-flexDirection(flex, row);
        @include alignItems-justifyContent(center, space-between);
        width: 74%;
        margin-bottom: $mb5;
        //--------------------Desktop----------------------------->
        @include for-desktop-only{
            width: 27%;
            margin-bottom: 0;
            @include display-flexDirection(flex, column);
        }
    }

    .containerEmailDesktop{
        @include display-flexDirection(flex, row);
        //--------------------Desktop----------------------------->
        @include for-desktop-only{
            @include display-flexDirection(flex, row);
            @include alignItems-justifyContent(center, space-between);
            width: 100%;
        }
    }

    .containerSocialMedia{
        @include display-flexDirection(flex, row);
        @include alignItems-justifyContent(center, space-between);
        width: 60%;
        //--------------------Desktop----------------------------->
        @include for-desktop-only{
            width: 22%;
            margin-bottom: $mb0;
            @include display-flexDirection(flex, row);
        }
    }

}
//--------------------Header----------------------------->

//--------------------Main----------------------------->
.main{
    background-image: url(../../../Images/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 26rem;
    width: 100%;
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(center, center);
    padding: $padding-lateral;
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
        height: 40.62rem;
    }

    .containerDesktop{
        //--------------------Desktop----------------------------->
        @include for-desktop-only{
            @include display-flexDirection(flex, column);
            @include alignItems-justifyContent(start, center);
            padding-left: 17%;
            
        }
    }
}
//--------------------Main----------------------------->

//--------------------WeAreAwesome----------------------------->
.weAreAwesome{
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(center, center);
    padding: $padding-lateral;
    margin-bottom: $mb20;
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
        padding: 0% 4%;
        @include display-flexDirection(flex, column);
        @include alignItems-justifyContent(center, center);
        margin-bottom: $mb5;
    }

    .containerDesktop{
        @include for-desktop-only{
            @include display-flexDirection(flex, row);
            @include alignItems-justifyContent(top, center);
        } 
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        
    }

    .containerIcon{
        width: 18%;
        height: 3.5rem;
        border: 1px solid $Branco;
        @include display-flexDirection(flex, row);
        @include alignItems-justifyContent(center, center);
    }
    .containerContent{
        width: 76%;
        margin-top: 5%;
    }
}
//--------------------WeAreAwesome----------------------------->

//--------------------AwesomeTeam----------------------------->
.awesomeTeam{
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(center, center);
    padding: $padding-lateral;
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
        @include display-flexDirection(flex, column);
        @include alignItems-justifyContent(center, center);
        padding: 0% 4%;
    }

    .containerDesktop{
        //--------------------Desktop----------------------------->
        @include for-desktop-only{
            @include display-flexDirection(flex, row);
            @include alignItems-justifyContent(center, space-between);
        }
    }

    .awesomeTeamContainer{
        @include display-flexDirection(flex, column);
        @include alignItems-justifyContent(start, center);
        box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, .3);
        margin-bottom: $mb10;
        background: #3b3b3b;

        //--------------------Desktop----------------------------->
        @include for-desktop-only{
           width: 22%;
           margin-bottom: $mb5; 
           
        }
    }
}
//--------------------AwesomeTeam----------------------------->

//--------------------ourAwesomeThings----------------------------->
.ourAwesomeThings{
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(center, center);
    
    margin-bottom: $mb5;
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
        margin-bottom: $mb0;
        padding-top: 0;
            
    }

    .containerDesktop{
        //--------------------Desktop----------------------------->
        @include for-desktop-only{
            @include display-flexDirection(flex, row);
            @include alignItems-justifyContent(center, center);  
                
        }
    }

    .ourAwesomeThingsContainer{
        @include display-flexDirection(flex, column);
        @include alignItems-justifyContent(start, center);
        // padding: 15%;
        padding-bottom: 0;
        margin-bottom: $mb10;
        
        &:nth-child(2){
            background: #505050;
        }
        //--------------------Desktop----------------------------->
        @include for-desktop-only{
           width: 34%;
           margin-bottom: 30px;
        }
    }

    .containerOurAwesomeThingsIcon{
        border: 1px solid $Branco;
        width: 42%;
        height: 6rem;
        margin-bottom: $mb5;
        @include display-flexDirection(flex, column);
        @include alignItems-justifyContent(center, center);
        //--------------------Desktop----------------------------->
        @include for-desktop-only{
            width: 52%;
            height: 6rem;
            margin-bottom: 12%;
        }
    }
}
//--------------------ourAwesomeThings----------------------------->

//--------------------ourAwesomePortfolio----------------------------->

.ourAwesomePortfolio{
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(center, center);
    margin-bottom: $mb20;
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
        margin-bottom: $mb10;
        padding: $pl2;
        padding-top: 0;
    }

    .containerDesktop{
        width: 100%;
        @include for-desktop-only {
            @include display-flexDirection(flex, row);
            width: 100%;
            flex-wrap: wrap;

        }
    }

    .containerOverlay{
        padding: 5%;
        height: 16rem;
        opacity: 0;
        transition: all .50s ease-out;
        &:hover{
            opacity: .9;
            background-color: rgba(40, 167, 233, 0.7);
        }
        //--------------------Desktop----------------------------->
        @include for-desktop-only{
            opacity: 0;
            height : 10rem;
            padding : 5%;
            transition: all .50s ease-out;
            &:hover{
                opacity: .9;
                background-color: rgba(40, 167, 233, 0.7);
            }
        }
    }
    
}

//--------------------ourAwesomePortfolio----------------------------->

//--------------------contactAwesome----------------------------->

.contactAwesome{
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(start, center);
    padding: $padding-lateral;
    background: #202020;
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
        padding: $pl2;
        padding-top: 0;
        
    }

    .containerDesktop{
        //--------------------Desktop----------------------------->
        @include for-desktop-only{
            @include display-flexDirection(flex, row);
            @include alignItems-justifyContent(start, space-between);
            width: 100%;
        }
    }

    .containerDesktopInput{
        //--------------------Desktop----------------------------->
        @include for-desktop-only{
            width: 50%
        
        }
    }

    .containerDesktopAdress{
        //--------------------Desktop----------------------------->
        @include for-desktop-only{
            padding-top: 4%;
            width: 47%;
        }
    }

    .containerIcon{
        @include display-flexDirection(flex, column); 
        width: 100%;
        
        
    }

    .containerIconBox{
        @include display-flexDirection(flex, row);
        align-items: center;
        
    }

    .box{
        width: 15%;
        height: 3rem;
        border: 1px solid $Branco;
        @include display-flexDirection(flex, row);
        @include alignItems-justifyContent(center, center);
        margin-bottom: 5%;
            @include for-desktop-only{
                width: 9%;
                height: 2.5rem;
        }
    }

    .socialMediaContainer{
        @include display-flexDirection(flex, row);
        width: 90%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10%;
        //--------------------Desktop----------------------------->
        @include for-desktop-only{
            margin-bottom: $mb0;
            width: 60%;
            @include alignItems-justifyContent(center, space-between);
        }
    }

    .containerSocial{
        width: 15%;
        height: 3rem;
        border: 1px solid $Branco;
        @include display-flexDirection(flex, row);
        @include alignItems-justifyContent(center, center);
        //--------------------Desktop----------------------------->
        @include for-desktop-only{
            width: 12%; 
        }
    }

    .containerBox{
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-between;
        align-items: center;
    }
}

.copyrightContainer{
    width: 100%;
    height: 5rem;
    background-color: #303030;
    @include display-flexDirection(flex, row);
    @include alignItems-justifyContent(center, center);
}

//--------------------contactAwesome----------------------------->



