@import "../../mixins" , "../../variables";

//--------------------Header----------------------------->

.subtitleLinks{
    color: $Azul;
    text-decoration: none;
}

.menuLinks{
    text-decoration: none;
    color: #777;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: bold;


    &:hover{
        color: black;
    }
}

.socialMediaLinks {
    font-size: 0.875rem;
    color: $Branco;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: background-color .35s linear;
    width: 12%;
    height: 1.2rem;
    border-radius: 2.5px;
    &:hover{
        background-color: $Azul;
        
    }
}

//--------------------Header----------------------------->