@import "../../Sass/styles.scss";

//--------------------awesomePortfolio----------------------------->
.awesomePortfolio{
    @extend  .ourAwesomePortfolio;  

    &__title{
        @extend .titleWeAreAwesome;
        //--------------------Desktop----------------------------->
         @include for-desktop-only{
        margin: 5% auto 5%; 
        }
        &___span{
            @extend .span;
            font-size: 2.5rem;
        }
    }

    &__containerDesktop {
        @extend .containerDesktop;

    }

    &__img1{
        background-image: url(../../Images/portfolio-img1.jpg);
        @extend .awesomePortfolioImg;    
    }
    
    &__img2{
        background-image: url(../../Images/portfolio-img2.jpg);
        @extend .awesomePortfolioImg;
        
    }
    
    &__img3{
        background-image: url(../../Images/portfolio-img3.jpg);
        @extend .awesomePortfolioImg;
        
    }
    
    &__img4{
        background-image: url(../../Images/portfolio-img4.jpg);
        @extend .awesomePortfolioImg;
        
    }

    &__img___containerOverlay{
        @extend .containerOverlay;
        
        &____title{
            @extend .titleAwesomePortfolio;
            padding: 1%;
        }
    
        &____subtitle{
            @extend .subtitleAwesomePortfolio;
        }
    
        &____button{
            @extend .buttonAwesomePortfolio;
        }
    }
    
        
}
//--------------------awesomePortfolio----------------------------->

