@import "../../mixins" , "../../variables";

.phoneIcon{
    color: $Azul;
    font-size: 0.875rem;
}

.emailIcon{
    color: $Azul;
    font-size: 0.875rem;
}

.socialmediaIcon{
    font-size: 0.875rem;
}

.ourAwesomeThingsIcons{
    font-size: 3.125rem;
}