//--------------------Cores----------------------------->
$Branco : #ffffff;
$Cinza : #5e5e5e;
$Azul: #28a7e9;
//--------------------Cores----------------------------->

//--------------------Padding----------------------------->
$padding-lateral: 5% 5%;
$pl2: 2.5% 2.5%;
//--------------------Padding----------------------------->

//--------------------MarginBottom----------------------------->
$mb20 : 20%;
$mb15 : 15%;
$mb10 : 10%;
$mb5 : 5%;
$mb2 : 2.5%;
$mb0 : 0;
//--------------------MarginBottom----------------------------->