@import "../../Sass/styles.scss";

//--------------------ourAwesomeThings----------------------------->
._5{
    @extend .ourAwesomeThings;

    &__title{
        @extend .titleWeAreAwesome;
        &___span{
            @extend .span;
            font-size: 2.5rem;
        }
    }

    &__containerDesktop{
        @extend .containerDesktop;
    }

    &__container{
        @extend .ourAwesomeThingsContainer;
        padding: $padding-lateral;
        &___containerIcon{
            
            @extend .containerOurAwesomeThingsIcon;
            
            &____icon{
                @extend .ourAwesomeThingsIcons;
            }
        }

        &___title{
            @extend .subtitleAwesomeTeam;
            margin-bottom: 5%;
            font-size: 1rem;
        }

        &___subtitle{
            @extend .subtitleAwesomeTeam;
            color: $Branco;
            font-weight: 300;
            margin-bottom: 10%;
            line-height: 1.2rem;
            //--------------------Desktop----------------------------->
            @include for-desktop-only{
                width: 100%;
                font-size: .8rem;
            }
        }
    }
}
//--------------------ourAwesomeThings----------------------------->