@import "../../mixins" , "../../variables";

// Header Subtitle Start
.subtitlePhone{
    font-size: 0.875rem;
}

.subtitleEmail{
    color: #999;
    font-weight: bold;
}

.subtitleMain{
    line-height: 1.2rem;
}

// Header Subtitle End

// Section WeAreAwesome Subtitle Start

.subtitleWeAreAwesome{
    line-height: 1.2rem;
    font-size: .85rem;
}

// Section WeAreAwesome Subtitle End

// Section AwesomeTeam Subtitle Start

.subtitleAwesomeTeam{
    font-size: .85rem;
    color: $Azul;
    font-weight: bold;
}

// Section AwesomeTeam Subtitle End