@import "../../mixins" , "../../variables";

//--------------------Header----------------------------->
.subtitlePhone{
    font-size: 0.875rem;
}


.subtitleMain{
    line-height: 1.2rem;
}

//--------------------Header----------------------------->

//--------------------WeAreAwesome----------------------------->

.subtitleWeAreAwesome{
    line-height: 1.2rem;
    font-size: .85rem;
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
        width: 88%;
    }
}

//--------------------WeAreAwesome----------------------------->

//--------------------AwesomeTeam----------------------------->

.subtitleAwesomeTeam{
    font-size: .85rem;
    color: $Azul;
    font-weight: bold;
}

//--------------------AwesomeTeam----------------------------->

//--------------------AwesomePortfolio----------------------------->

.subtitleAwesomePortfolio{
    font-size: 0.875rem;
    color: $Branco;
    font-weight: bold;
    margin-bottom: $mb10;
    line-height: 1.2rem;
    

}

//--------------------AwesomePortfolio----------------------------->

//--------------------Footer----------------------------->

.subtitleContactAwesome{
    font-size: .875rem;
    text-align: start;
    margin-left: 5%;
      
}

.subtitleCopyRight{
    color: $Branco;
    font-size: .875rem;
    font-weight: bold;
}

//--------------------Footer----------------------------->