@import "../../mixins" , "../../variables";

//--------------------Header----------------------------->
.subtitlePhone{
    font-size: 0.875rem;
}


.subtitleMain{
    line-height: 1.2rem;
}

//--------------------Header----------------------------->

//--------------------WeAreAwesome----------------------------->

.subtitleWeAreAwesome{
    line-height: 1.2rem;
    font-size: .85rem;
}

//--------------------WeAreAwesome----------------------------->

//--------------------AwesomeTeam----------------------------->

.subtitleAwesomeTeam{
    font-size: .85rem;
    color: $Azul;
    font-weight: bold;
}

//--------------------AwesomeTeam----------------------------->

//--------------------Footer----------------------------->

.subtitleContactAwesome{
    font-size: .875rem;
    text-align: start;
    margin-left: 5%;
    
    
}

//--------------------Footer----------------------------->