@import "../../Sass/styles.scss";

//--------------------Header----------------------------->
.h {
    @extend .header;

    &__menu{
    @extend .menu;

    &___title {
      @extend .titleHeader;
    }

    .containerMenu {
        @extend .containerMenu;

        .menuHamburguer{
            @extend .containerMenuHamburguer;
        
            &__span{
                @extend .spanMenuHamburguer;
            }
        }

        .menuHamburguerListOpen{
            @extend .menuHamburguerListOpen;
            
            &__itemLi {
                @extend .menuHamburguerListOpenListItem;              
                
                &___a {
                    @extend .menuLinks;
                }
            }
        }

        .menuHamburguerListClose{
            @extend .menuHamburguerListClose;
            &__itemLi {
                @extend .menuHamburguerListCloseListItem;      
                &___a {
                    @extend .menuLinks;
                    
                }
            }
        }
    }
    
}
    &__contacts {
        @extend .containerContacts;
        
        &___containerPhone {
            @extend .containerPhone;
        
            &____phoneIcon {
            @extend .phoneIcon;
        }
        &____title {
            @extend .titleContacts;
        }
        &____subtitle {
            @extend .subtitlePhone;
        }
    }

        &___containerEmail {
            @extend .containerEmail;
            &____containerEmailDesktop{
                @extend .containerEmailDesktop;
            }

        &____emailIcon {
            @extend .emailIcon;
        }


        &____title {
            @extend .titleContacts;
        }

        &____subtitle {
            @extend .emailLink;
        }
    }

        &___containerSocialMedia {
            @extend .containerSocialMedia;

        &____title {
            @extend .titleContacts;
        }

        &____icon {
        @extend .socialMediaLinks;
      }
    }
  }
}
//--------------------HEader----------------------------->