@import '../../Sass/styles.scss';

//--------------------Main----------------------------->
._2{
    background-image: url(../../Images/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 26rem;
    width: 100%;

    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(center, center);

    padding: $padding-lateral;
    

    &__title{
        @extend .titleMain;

        &___span{
            @extend .span;
        }
    }

    &__subtitle{
        @extend .subtitleMain;
    }

    &__button{
        @extend .buttonGetStarted;
    }
}
//--------------------Main----------------------------->