@import "../../Sass/styles.scss";

//--------------------awesomeTeam----------------------------->
.awesomeTeam{
    @extend .awesomeTeam;

    &__title{
        @extend .titleWeAreAwesome;
        &___span{
            @extend .span;
            font-size: 2.5rem;
        }
    }

    &__containerDesktop{
        @extend .containerDesktop;
    }

    &__container{
        @extend .awesomeTeamContainer;

        &___img{
            @extend .awesomeTeamImg;
        }

        &___title{
            @extend .titleWeAreAwesomeContent;
            margin-top: 5%;
            margin-left: 5%;
            margin-bottom: 5%;
        }

        &___subtitle{
            @extend .subtitleAwesomeTeam;
            margin-left: 5%;
            margin-bottom: 5%;
            
        }

        &___content{
            @extend .subtitleAwesomeTeam;
            color: $Branco;
            font-weight: 300;
            margin-left: 5%;
            margin-bottom: 10%;
            line-height: 1.2rem;
        }
    }
}
//--------------------awesomeTeam----------------------------->