@import "../../Sass/styles.scss";

.awesomeTeam{
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(center, center);
    padding: $padding-lateral;

    &__title{
        @extend .titleWeAreAwesome;
        &___span{
            @extend .span;
            font-size: 2.5rem;
        }
    }

    &__container{
        @extend .awesomeTeamContainer;
        box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, .3);
        margin-bottom: 10%;

        &___img{
            @extend .awesomeTeamImg;
        }

        &___title{
            @extend .titleWeAreAwesomeContent;
            margin-top: 5%;
            margin-left: 5%;
            margin-bottom: 5%;
        }

        &___subtitle{
            @extend .subtitleAwesomeTeam;
            margin-left: 5%;
            margin-bottom: 5%;
            
        }

        &___content{
            @extend .subtitleAwesomeTeam;
            color: $Branco;
            font-weight: 300;
            margin-left: 5%;
            margin-bottom: 10%;
            line-height: 1.2rem;
        }
    }
}