@import "../../Sass/styles.scss";

//--------------------WeAreAwesome----------------------------->
._3{
    @extend .weAreAwesome;

    &__title{
        @extend .titleWeAreAwesome;
        &___span{
            @extend .span;
            font-size: 2.5rem;
        }
    }

    &__container{
        @extend .container;
        &___containerIcon{
            @extend .containerIcon;
        }
        
        &___content{
            @extend .containerContent;
            &____title{
                @extend .titleWeAreAwesomeContent;
            }
            &____subtitle{
                @extend .subtitleWeAreAwesome;
                &_____links{
                    @extend .subtitleLinks;
                }
            }
        }
    }

}

//--------------------WeAreAwesome----------------------------->